.navbar {
	font-size: 1.1rem;
	background-color: var(--white);
	box-shadow: var(--box-shadow);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 15px;
	z-index: 4;
	list-style-type: none;
}

.toggle {
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
	margin: 0;
	color: var(--bright);
	font-size: 1.8rem;
}
